extends template
block content
    div
        | #{userName} wants to change the password))))))
        br
        | Please follow the link
        - let url = 'http://localhost:3000/users/forgotPassword?token='

        a(href=url + token) http://localhost:3000/users/foPassword?token=#{token}
